<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="inside_temp" data-view="Netatmo" data-title="Intérieur"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="outside_temp" data-view="Netatmo" data-title="Extérieur"></div>
	</li>
	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
		<div data-id="rer_traffic" data-view="Ratp" data-title="Trafic RER"></div>
	</li>
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
		<div data-id="rer_next_train" data-view="List" data-title="Prochains RER A"></div>
	</li>
  </ul>
</div>

<!-- http://api-ratp.pierre-grimaud.fr/rer/a/la+varenne-chennevieres/st+germain+poissy+cergy -->

<!-- http://api-ratp.pierre-grimaud.fr/data/trafic/metro http://api-ratp.pierre-grimaud.fr/data/trafic/rer -->